.option {
  width: 300px;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
  .option {
    width: 200px;
  }
}
