.modalPage {
    height: 70vh;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem 2rem;
}

.modalHeader {
  display: flex;
  justify-content: end;
}

.h2Modal {
  color: #1c2e48;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.pModal {
  font-size: 14px;
  color: grey;
}

.closeButton {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  color: #e15a40;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

.modalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.modalFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 3rem 0 0.5rem 0;
}

.h2 {
  padding: 0 2rem;
  font-size: 18px;
}

.p {
  padding: 0 2rem;
  font-size: 18px;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
  .modalFooter {
    justify-content: center;
    align-items: center;
  }
}
