.header {
    width: 100vw;
    height: 20vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(61, 182, 182);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  