.page {
  width: 100vw;
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  margin-top: 2rem;
  align-items: flex-start;
  width: 50%;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 300px;
}

.dash {
  color: #e15a40;
}

select {
  padding: 0.5rem; 
  font-size: 16px;
}

.subcategoriesContainer {
  margin-top: 2rem;
  width: 100%;
}

.eventTitle {
  font-size: 16px;
  font-weight: 600;
  color: #1c2e48;
  max-width: 250px;
  width: 300px;
}

.subcategoryList {
  list-style: none; 
  padding: 0;
}



.eventItem:hover {
  background-color: #dedede;
}

.deleteButton {
  background-color: #434343;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  cursor: pointer;
}

.createBtn {
  background-color: #e15a40;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  cursor: pointer;
}
.createLink{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e15a40;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
}
.createLink h2 {
  color: white;
  font-weight: 100;
}

.eventList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eventItem {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  color: #1c2e48;
  background-color: #f3f3f3;
  border-radius: 5px;
  border-style: none;
  text-align: left;
  font-size: 14px;
  gap: 1rem;
}

.createBtn {
  background-color: #e15a40;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  cursor: pointer;
}


@media screen and (min-width: 800px) {
  .pageContainer {
    max-width: 800px;
  }

  .title {
    margin-bottom: 2rem;
    gap: 1rem;
    max-width: 800px;
  }

  .eventTitle {
    max-width: 800px;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}