
.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  transition: transform 0.2s;
  width: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.imageSection {
  position: relative;
  heigth: 150px;
  width: 317px;
  border-radius: 0px 30px 0px 0px;
  background-color: #cacaca;
}

.eventImage {
  height: 150px;
  width: 317px;
  border-radius: 0px 30px 0px 0px;
}

.logoContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.logoImage {
  width: 120px;
  height: auto;
}

.bottomSection {
    display: flex;
    gap: 1rem;
}

.cardTitle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%; 
}


.cardMode {
  color: #1C2E48;
  font-weight: bold;
  font-size: 14px;
}

.cardType {
  color: #797979;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;

}

.cardDate {
  font-size: 14px;
  color: #666;
}

.cardCategory{
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid #1C2E48;
  background: #F5F5F5;
  padding: 0.1rem 0.5rem;
}

.cardSubcategory{
  color: #E15A40;
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid #E15A40;
  background: #F5F5F5;
  padding: 0.1rem 0.5rem;
}

.spanContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}