.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  transform: scale(1);
  transition: transform 0.2s;
  width: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: -10;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.imageSection {
  position: relative;
  height: 150px;
  width: 317px;
  border-radius: 0px 30px 0px 0px;
  background-color: #cacaca;
  z-index: -1;
}

.eventImage {
  height: 150px;
  width: 317px;
  border-radius: 0px 30px 0px 0px;
}

.logoContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.logoImage {
  width: 120px;
  height: auto;
  opacity: 0.9;
}

.bottomSection {
  display: flex;
  gap: 1rem;
}

.cardTitle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
}

.cardMode {
  color: #1c2e48;
  font-weight: bold;
  font-size: 14px;
}

.cardType {
  color: #797979;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.cardDate {
  font-size: 14px;
  color: #666;
}

.cardCategory {
  border-radius: 16px;
  padding: 0.3rem 0.7rem;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 16px;
  background-color: white;
  color: #1c2e48;
  border: 1px solid #1c2e48;
  height: fit-content;
}

.cardSubcategory {
  border-radius: 16px;
  padding: 0.3rem 0.7rem;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 16px;
  background-color: white;
  color: #e15a40;
  border: 1px solid #e15a40;
  height: fit-content;
}

.spanContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
