.pageConfig {
  width: 100vw;
  margin: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 2rem 20rem;
}

.titleConfig {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.dash {
  color: #e15a40;
}

.configGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
