.button {
    all: unset;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    color: grey;
    text-align: center;
    font-size: 12px;
    padding: 0.5rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
}

.button:hover, .button:active {
    cursor: pointer;
    color: #e15a40;
}

.button:active {
    transform: scale(0.98);
}


/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
    .button {
    font-size: 14px;
}

.ticketIcon {
    font-size: 18px;
}
}