.subcategoryPage {
  text-align: center;
  padding: 20px;
  margin: 0 3rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  margin: 3rem 0;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.dash {
  color: #e15a40;
}

.form {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.label {
  font-weight: 600;
  font-size: 16px;
}

.inputsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.buttonSection {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.checkIcon {
  width: 60px;
  height: 60px;
  color: #cacaca;
}


/* Para pantallas más grandes o iguales a 900px (xl) */
@media screen and (min-width: 900px) {


}
