.button {
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #ffffff;
  color: #e15a40;
  border: 1.5px solid #e15a40;
  text-align: center;
  font-size: 12px;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover,
.button:active {
  cursor: pointer;
}

.button:active {
  background: #e15a40;
  color: #ffffff;
}
