.title {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.dash {
  color: #e15a40;
}

.sectionHomePage {
}

.cardGrid {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.buttonSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80vw;
  margin-bottom: 1rem;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
  .section {
    padding: 2rem 5rem;
    align-items: flex-start;
  }

  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
