.category {
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.image {
  background-color: #cacaca;
  width: 203px;
  height: 195px;
  top: 759px;
  left: 231px;
  border-radius: 20px;
}


/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
  .category {
    gap: 2rem;
  }
}

/* Para pantallas más grandes o iguales a 992px (lg) */
@media screen and (min-width: 992px) {
  .category {
    gap: 2rem;
  }
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
  .category {
    gap: 2rem;
  }
}

/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
  .category {
    gap: 2rem;
  }
}
