.category {
  border: 1px solid #cacaca;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image {
  background-color: #cacaca;
  width: 203px;
  height: 195px;
  top: 759px;
  left: 231px;
  border-radius: 20px;
}
