.container {
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  border: 1.5px solid rgba(28, 46, 72, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 0 0 #cacaca;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.inscriptions {
  display: flex;
  flex-direction: column;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
}

/* Para pantallas más grandes o iguales a 992px (lg) */
@media screen and (min-width: 992px) {
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
}

/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
  .container {
    flex-direction: row;
  }
}
