/*****  HEADER RESUME DASHBOARD *********/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  padding-left: 1rem;
}

.containerSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #1c2e48;
  background-color: #f3f3f3;
  border-radius: 5px;
  border-style: none;
  font-weight: 500;
  cursor: pointer;
  max-width: 750px;
  gap: 1rem;
  font-size: 14px;
}

.containerSection:hover  {
  border: 1.5px solid  #e15a40;;
  cursor: inherit;
}

.textLink:hover {
  font-weight: 500;
  color: #e15a40;
  cursor: pointer;
}

.containerSection a,
.containerSection p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #1c2e48;
  font-weight: 500;
}

.container a :hover {
  font-weight: 500;
  color: #e15a40;
}

.inscriptionsSection {
  font-weight: 500;
  color: #1c2e48;
}

.downloadOptions {
  display: flex;
  gap: 0.75rem;
}

.pdfButton {
  border-style: none;
  background-color: transparent;
  color: #1c2e48;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.pdfButton:hover {
  cursor: pointer;
}

.inscriptionsIcon {
  color: #e15a40;
  font-size: 20px;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (max-width: 768px) {
  .containerSection {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 0.5rem;
    font-size: 14px;
  }  

  .downloadOptions {
    flex-direction: column;
  }

  .divider {
    display: none;
  }
}


/***** MODAL*********/

.modalContent {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 50%;
  height: fit-content;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem 2rem;
}

.modalHeader {
  display: flex;
  justify-content: end;
}

.closeButton {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  color: #e15a40;
  position: absolute;
  right: 0.8rem;
  top: 0.3rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  max-width: 400px;
}

.dash {
  color: #e15a40;
  margin-bottom: 1.5rem;
}

.h2Modal {
  color: #1c2e48;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-right: 2rem;
}

.pModal {
  font-size: 14px;
  color: #1c2e48;
  font-weight: 500;
}

.eventList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.eventItem {
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;
  color: #1c2e48;
  background-color: #f3f3f3;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  gap: 1rem;
}

.cardSubcategory {
  border-radius: 16px;
  padding: 0.3rem 0.7rem;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 16px;
  background-color: white;
  color: #e15a40;
  border: 1px solid #e15a40;
  height: fit-content;
}
.eventChips {
  display: flex;
  gap: 0.5rem;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
  .container {
    width: 780px;
  }

  .containerSection a,
  .containerSection p {
    font-size: 16px;
  }

  .eventItem {
    max-width: 750px;
  }

  .title {
    margin-bottom: 2rem;
    gap: 1rem;
    max-width: 800px;
  }

  .eventTitle {
    max-width: 800px;
    width: 800px;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
}
