.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 2rem;
  background-color: white
}

.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 3rem 0 0.5rem 0;
}

.topTitle {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  width: 800px;
  padding: 1rem;
  border-bottom: 1px solid #cacaca;
}

.dash {
  color: #e15a40;
}

/* Para pantallas más pequeña a 768px (md) */
@media screen and (max-width: 768px) {
  .header {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .topTitle {
    width: 350px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (max-width: 768px) {
  .topTitle {
    align-items: center;
    justify-content: center;
    max-width: 400px;
  }
}
