.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrapper {
  height: 60px;
  width: auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 20px;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputHolder {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.searchInput {
  position: relative;
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 350px;
  height: 70px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.searchIcon {
  cursor: pointer;
  font-size: 20px;
  color: #1c2e48;
  border-style: none;
  background-color: white;
  width: 70px;
  height: 60px;
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
