.searchBarContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.searchBar{
  display: flex;
  gap: 0.5rem;
  
}

.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
  border-style: none;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-left: 1rem;
}

.searchInput:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.searchInput:focus {
  outline: none;
  border: 2px solid #e15a40;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.searchIcon {
  cursor: pointer;
  font-size: 20px;
  color: white;
  border-style: none;
  background-color: #e15a40;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon:hover {
  background-color: #d53d1e;
  transition: 0.1s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.filterField {
  z-index: 1;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {

  .searchBarContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .searchInput {
    width: 500px;
  }
  
}