.searchBarContainer {
  display: flex;
}

.searchBar {
  display: flex;
  gap: 0.5rem;
}

.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-style: none;
  border-radius: 25px;
  width: 500px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-left: 1.5rem;
}

.searchInput:hover,
.searchInput:focus {
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  cursor: pointer;
  font-size: 20px;
  color: white;
  border-style: none;
  background-color: #1c2e48;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon:hover {
  background-color: #43618b;
  transition: 0.1s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.filterField {
  z-index: 1;
}

.searchSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .searchBarContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .searchBar {
    flex-direction: column;
  }

  .searchInput {
    width: 300px;
  }

  .searchIcon {
    font-size: 14px;
    width: 35px;
    height: 35px;
  }

  .searchSection {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
