.button {
  all: unset;
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 5px;
  background: linear-gradient(to right, #e15a40, #f4775e);
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 1rem 4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}

.button:hover, .button:active {
  cursor: pointer;
  background: linear-gradient(to right, #d53d1e, #eb6a50);
  }


/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
  .button {
  font-size: 14px;
  padding: 1rem;
}

.ticketIcon {
  font-size: 18px;
}
}