.form {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.optionTitle {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.registerLink {
  color: #e15a40;
  font-weight: 700;
}

.buttonSection {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.checkIcon {
  width: 60px;
  height: 60px;
  color: #cacaca;
}

/* Para pantallas más grandes o iguales a 900px (xl) */
@media screen and (min-width: 900px) {
  .form {
    padding: 1.5rem 0;
  }

  .buttonSection {
    margin-top: 3rem;
  }
}
