.container {
    margin: 3rem 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionTitle {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.registerLink {
    color: #e15a40;
    font-weight: 700;
}

.form {
    margin-bottom: 5rem;
}

.forgotPasswordLink {
    text-align: center;
    margin-bottom: 4rem;
}

.buttonSection {
    display: flex;
    justify-content: center;
}
