.form {
  width: fit-content;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.optionTitle {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem 0;
  color: #1c2e48;
}

.registerLink {
  color: #e15a40;
  font-weight: 700;
}

.buttonSection {
  display: flex;
  justify-content: center;
}

/* Para pantallas más grandes o iguales a 900px (xl) */
@media screen and (min-width: 900px) {
  .form {
    padding: 0rem;
  }

  .buttonSection {
    margin-top: 3rem;
  }

}
