.form {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerLink {
  color: #e15a40;
  font-weight: 700;
}

.buttonSection {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
