.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 2rem;
}

.title {
  display: flex;
  gap: 1rem;
}

.dash {
  color: #e15a40;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  gap: 2rem;
}

.selectStatus {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1.5px solid rgba(143, 143, 143, 1);
}

/* Para pantallas m치s grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
}

/* Para pantallas m치s grandes o iguales a 992px (lg) */
@media screen and (min-width: 992px) {
}

/* Para pantallas m치s grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
}

/* Para pantallas m치s grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
  .header {
    flex-direction: row;
    gap: 5rem;
  }
}
