.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.title {
  display: flex;
  gap: 1rem;
}

.dash {
  color: #e15a40;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 6rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  padding: 0 3rem;
}
