.form {
  width: fit-content;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.optionTitle {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: #1c2e48;
}

.registerLink {
  color: #e15a40;
  font-weight: 700;
}

.forgotPasswordLink {
  text-align: center;
  margin: 2rem 0 2rem 0;
  font-size: 12px;
  color: #1c2e48;
  font-weight: 600;
}

.buttonSection {
  display: flex;
  justify-content: center;
}