.formEvent {
  margin-bottom: 6rem;
}

.warning {
  color: grey;
  text-align: left;
  padding-left:0;
  font-size: 14px;
  margin-bottom: 2rem;
}

.buttonSection {
    display: flex;
    justify-content: flex-end;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.selectTime select {
  width: 360px;
}

.checkIcon {
  width: 60px;
  height: 60px;
  color: #cacaca;
}

.gap {
  height: 30px;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

/* Para pantallas más grandes o iguales a 992px (lg) */
@media screen and (min-width: 992px) {

  .selectTime select {
    width: 248px;
  }
  .timeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
  
  .selectTime select {
    width: 320px;
  }
  .timeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
}

/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {

  .selectTime select {
    width: 370px;
  }
  .timeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }

}
