.drag-drop-zone {
    padding: 2rem;
    text-align: center;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px #C0C0C0;
}

.drag-drop-zone p {
    color: #000;
    padding: 20px;
    border: 3px purple dashed;
    width: 60%;
    margin: auto;
    margin-bottom: '10px';
}

.drag-drop-zone.inside-drag-area {
    opacity: 0.7;
}

.dropped-files li {
    color: #07F;
    padding: 3px;
    text-align: left;
    font-weight: bold;
}
