
:root{
  font-family: 'Inter' , sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #1c2e48;
  font-size: 30px;
  font-weight: 900;
}

p {
  color: #1c2e48;
  font-size: 12px;
  font-weight: 500;
}

h2 {
    color: #1c2e48;
    font-size: 14px;
    font-weight: 500;
}

h3 {
  color: #1c2e48;
  font-size: 12px;
  font-weight: 600;
}

a {
  font-size: 14px;  
  color: #e15a40;
  font-weight: 700;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}


/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
}

/* Para pantallas más grandes o iguales a 992px (lg) */
@media screen and (min-width: 992px) {
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
}

/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
}
