.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 2rem;
  background-color: white;
}

.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 3rem 0 0.5rem 0;
}

.topTitle {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  width: 1000px;
  padding: 1rem;
  border-bottom: 1px solid #cacaca;
}

.dash {
  color: #e15a40;
}

.searchBar {
  margin: 0 0 0 16px;
  z-index: 1000;
}

.cardGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.backBtn {
  cursor: pointer;
  font-size: 16px;
  color: white;
  border-style: none;
  background-color: #e15a40;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtn:hover {
  color: #e15a40;
  border: 1px solid #e15a40;
  background-color: white;
  transition: 0.1s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.textStyle {
  color: #1c2e48;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8rem;
}

.textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Para pantallas más grandes o iguales a 768px (md) */
@media screen and (min-width: 768px) {
  .pageContainer {
    margin-top: 2rem;
    align-items: flex-start;
  }

  .title {
    margin-bottom: 2rem;
    gap: 1rem;
    max-width: 800px;
  }
  .section {
    gap: 3rem;
    padding: 5rem;
  }
}

/* Para pantallas más grandes o iguales a 992px (lg) */
@media screen and (min-width: 992px) {
  .section {
    gap: 3rem;
    padding: 5rem;
  }
}

/* Para pantallas más grandes o iguales a 1200px (xl) */
@media screen and (min-width: 1200px) {
  .section {
    gap: 3rem;
    padding: 5rem;
  }

  .cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10%;
  }
}

/* Para pantallas más grandes o iguales a 1400px (xxl) */
@media screen and (min-width: 1400px) {
  .section {
    gap: 3rem;
    padding: 5rem;
  }

  .cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 20%;
  }
}
